.task{
    width: 200px;
    height: 440px;
    border: 1px solid black;
    display: inline-block;
    margin: 10 10 10 10;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    padding-top: 10px;
    font-size: 19px;
}
.menu > a
{
    margin-right: 10px;
    margin-left: 10px;
}
.content{
    position: relative;
    top:10px;
    bottom:10px;
}
.pag #current{
    width: 50px;
}
.table_task{
    padding-bottom: 15px;
    text-align: center;
}
.login_error{
    color:red;
}
.fm_task
{
    display: inline-block;
    vertical-align: bottom;

}